In [45]:
import nltk
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import pandas as pd
import re

In [46]:
df = pd.read_csv("tripadvisor_hotel_reviews.csv")
df.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  109 non-null    object
 1   Rating  109 non-null    int64
dtypes: int64(1), object(1)
memory usage: 1.8+ KB

In [48]:
df.iloc[0,0] # or df['Review'][0]

'nice hotel expensive parking got good deal stay hotel anniversary, arrived late evening took advice previous reviews did valet parking, check quick easy, little disappointed non-existent view room room clean nice size, bed comfortable woke stiff neck high pillows, not soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway, maybe just noisy neighbors, aveda bath products nice, did not goldfish stay nice touch taken advantage staying longer, location great walking distance shopping, overall nice experience having pay 40 parking night,  '

In [49]:
df["review_lowercase"] = df["Review"].str.lower()
df.head()

,Review,Rating,review_lowercase
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not 4* experience hotel monaco seat...
3,"unique, great stay, wonderful time hotel monac...",5,"unique, great stay, wonderful time hotel monac..."
4,"great stay great stay, went seahawk game aweso...",5,"great stay great stay, went seahawk game aweso..."

In [50]:
import nltk
#nltk.download('stopwords')

In [51]:
en_stopwords = stopwords.words("english")
en_stopwords.remove("not")
en_stopwords

['a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 'her',
 'here',
 'hers',
 'herself',
 "he's",
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 'if',
 "i'll",
 "i'm",
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 "i've",
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 'shouldn',
 "shouldn't",
 "should've",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 'were',
 'weren',
 "weren't",
 "we've",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 'your',
 "you're",
 'yours',
 'yourself',
 'yourselves',
 "you've"]

In [52]:
df.iloc[0,0]

'nice hotel expensive parking got good deal stay hotel anniversary, arrived late evening took advice previous reviews did valet parking, check quick easy, little disappointed non-existent view room room clean nice size, bed comfortable woke stiff neck high pillows, not soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway, maybe just noisy neighbors, aveda bath products nice, did not goldfish stay nice touch taken advantage staying longer, location great walking distance shopping, overall nice experience having pay 40 parking night,  '

In [53]:
df.iloc[0,0].split()

['nice',
 'hotel',
 'expensive',
 'parking',
 'got',
 'good',
 'deal',
 'stay',
 'hotel',
 'anniversary,',
 'arrived',
 'late',
 'evening',
 'took',
 'advice',
 'previous',
 'reviews',
 'did',
 'valet',
 'parking,',
 'check',
 'quick',
 'easy,',
 'little',
 'disappointed',
 'non-existent',
 'view',
 'room',
 'room',
 'clean',
 'nice',
 'size,',
 'bed',
 'comfortable',
 'woke',
 'stiff',
 'neck',
 'high',
 'pillows,',
 'not',
 'soundproof',
 'like',
 'heard',
 'music',
 'room',
 'night',
 'morning',
 'loud',
 'bangs',
 'doors',
 'opening',
 'closing',
 'hear',
 'people',
 'talking',
 'hallway,',
 'maybe',
 'just',
 'noisy',
 'neighbors,',
 'aveda',
 'bath',
 'products',
 'nice,',
 'did',
 'not',
 'goldfish',
 'stay',
 'nice',
 'touch',
 'taken',
 'advantage',
 'staying',
 'longer,',
 'location',
 'great',
 'walking',
 'distance',
 'shopping,',
 'overall',
 'nice',
 'experience',
 'having',
 'pay',
 '40',
 'parking',
 'night,']

In [54]:
df["review_no_stopwords"]= df["review_lowercase"].apply(lambda x : ' '.join([word for word in x.split() if word not in(en_stopwords)]))
df["review_no_stopwords"][0]

'nice hotel expensive parking got good deal stay hotel anniversary, arrived late evening took advice previous reviews valet parking, check quick easy, little disappointed non-existent view room room clean nice size, bed comfortable woke stiff neck high pillows, not soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway, maybe noisy neighbors, aveda bath products nice, not goldfish stay nice touch taken advantage staying longer, location great walking distance shopping, overall nice experience pay 40 parking night,'

In [55]:
df["review_no_stopwords_no_punct"] = df.apply(lambda x: re.sub(r"[*]","star",x['review_no_stopwords']), axis=1)
df.head() #sub for replacing

,Review,Rating,review_lowercase,review_no_stopwords,review_no_stopwords_no_punct
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4star experience hotel monaco s...
3,"unique, great stay, wonderful time hotel monac...",5,"unique, great stay, wonderful time hotel monac...","unique, great stay, wonderful time hotel monac...","unique, great stay, wonderful time hotel monac..."
4,"great stay great stay, went seahawk game aweso...",5,"great stay great stay, went seahawk game aweso...","great stay great stay, went seahawk game aweso...","great stay great stay, went seahawk game aweso..."

In [56]:
df["review_no_stopwords_no_punct"] = df.apply(lambda x: re.sub(r"[,]", "",x['review_no_stopwords']),axis=1)
df.head()

,Review,Rating,review_lowercase,review_no_stopwords,review_no_stopwords_no_punct
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4* experience hotel monaco seat...
3,"unique, great stay, wonderful time hotel monac...",5,"unique, great stay, wonderful time hotel monac...","unique, great stay, wonderful time hotel monac...",unique great stay wonderful time hotel monaco ...
4,"great stay great stay, went seahawk game aweso...",5,"great stay great stay, went seahawk game aweso...","great stay great stay, went seahawk game aweso...",great stay great stay went seahawk game awesom...

In [57]:
df["review_no_stopwords_no_punct"] = df.apply(lambda x: re.sub(r"([^\W\S])", "",x['review_no_stopwords_no_punct']),axis=1)
df.head()

,Review,Rating,review_lowercase,review_no_stopwords,review_no_stopwords_no_punct
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4* experience hotel monaco seat...
3,"unique, great stay, wonderful time hotel monac...",5,"unique, great stay, wonderful time hotel monac...","unique, great stay, wonderful time hotel monac...",unique great stay wonderful time hotel monaco ...
4,"great stay great stay, went seahawk game aweso...",5,"great stay great stay, went seahawk game aweso...","great stay great stay, went seahawk game aweso...",great stay great stay went seahawk game awesom...

## Tokenization

In [37]:
#nltk.download('punkt_tab')

In [58]:
df["tokenized"] = df.apply(lambda x: word_tokenize(x["review_no_stopwords_no_punct"]),axis=1)
df.head()

,Review,Rating,review_lowercase,review_no_stopwords,review_no_stopwords_no_punct,tokenized
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d..."
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member..."
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4* experience hotel monaco seat...,"[nice, rooms, not, 4, *, experience, hotel, mo..."
3,"unique, great stay, wonderful time hotel monac...",5,"unique, great stay, wonderful time hotel monac...","unique, great stay, wonderful time hotel monac...",unique great stay wonderful time hotel monaco ...,"[unique, great, stay, wonderful, time, hotel, ..."
4,"great stay great stay, went seahawk game aweso...",5,"great stay great stay, went seahawk game aweso...","great stay great stay, went seahawk game aweso...",great stay great stay went seahawk game awesom...,"[great, stay, great, stay, went, seahawk, game..."

## Stemming / Lemmatization

In [59]:
ps = PorterStemmer()

In [60]:
df["stemmed"] = df["tokenized"].apply(lambda tokens: [ps.stem(token) for token in tokens])
df.head()

,Review,Rating,review_lowercase,review_no_stopwords,review_no_stopwords_no_punct,tokenized,stemmed
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expens, park, got, good, deal, s..."
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member...","[ok, noth, special, charg, diamond, member, hi..."
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4* experience hotel monaco seat...,"[nice, rooms, not, 4, *, experience, hotel, mo...","[nice, room, not, 4, *, experi, hotel, monaco,..."
3,"unique, great stay, wonderful time hotel monac...",5,"unique, great stay, wonderful time hotel monac...","unique, great stay, wonderful time hotel monac...",unique great stay wonderful time hotel monaco ...,"[unique, great, stay, wonderful, time, hotel, ...","[uniqu, great, stay, wonder, time, hotel, mona..."
4,"great stay great stay, went seahawk game aweso...",5,"great stay great stay, went seahawk game aweso...","great stay great stay, went seahawk game aweso...",great stay great stay went seahawk game awesom...,"[great, stay, great, stay, went, seahawk, game...","[great, stay, great, stay, went, seahawk, game..."

In [61]:
#nltk.download("wordnet")

In [62]:
lemmatizer = WordNetLemmatizer()
df["lemmatized"] = df["tokenized"].apply(lambda tokens: [lemmatizer.lemmatize(token) for token in tokens])
df["lemmatized"][0]

['nice',
 'hotel',
 'expensive',
 'parking',
 'got',
 'good',
 'deal',
 'stay',
 'hotel',
 'anniversary',
 'arrived',
 'late',
 'evening',
 'took',
 'advice',
 'previous',
 'review',
 'valet',
 'parking',
 'check',
 'quick',
 'easy',
 'little',
 'disappointed',
 'non-existent',
 'view',
 'room',
 'room',
 'clean',
 'nice',
 'size',
 'bed',
 'comfortable',
 'woke',
 'stiff',
 'neck',
 'high',
 'pillow',
 'not',
 'soundproof',
 'like',
 'heard',
 'music',
 'room',
 'night',
 'morning',
 'loud',
 'bang',
 'door',
 'opening',
 'closing',
 'hear',
 'people',
 'talking',
 'hallway',
 'maybe',
 'noisy',
 'neighbor',
 'aveda',
 'bath',
 'product',
 'nice',
 'not',
 'goldfish',
 'stay',
 'nice',
 'touch',
 'taken',
 'advantage',
 'staying',
 'longer',
 'location',
 'great',
 'walking',
 'distance',
 'shopping',
 'overall',
 'nice',
 'experience',
 'pay',
 '40',
 'parking',
 'night']

In [63]:
tokens_clean = sum(df["lemmatized"], [])

In [64]:
unigrams = (pd.Series(nltk.ngrams(tokens_clean, 1)).value_counts())
unigrams

(hotel,)          292
(room,)           275
(great,)          126
(not,)            122
(stay,)            95
                 ...
(ferry,)            1
(needle.best,)      1
(absolute,)         1
(mayflower,)        1
(connected,)        1
Name: count, Length: 2632, dtype: int64

In [65]:
bigrams = (pd.Series(nltk.ngrams(tokens_clean, 2)).value_counts())
bigrams

(great, location)    24
(space, needle)      21
(hotel, monaco)      16
(pike, place)        12
(staff, friendly)    12
                     ..
(`, t)                1
(didn, `)             1
(personnel, didn)     1
(minute, stay)        1
(food, raffle)        1
Name: count, Length: 8287, dtype: int64

## POS tagging and NER

In [66]:
import spacy

In [69]:
nlp = spacy.load("en_core_web_sm")

In [70]:
emma_ja = "emma woodhouse handsome clever and rich with a comfortable home and happy disposition seemed to unite some of the best blessings of existence and had lived nearly twentyone years in the world with very little to distress or vex her she was the youngest of the two daughters of a most affectionate indulgent father and had in consequence of her sisters marriage been mistress of his house from a very early period her mother had died too long ago for her to have more than an indistinct remembrance of her caresses and her place had been supplied by an excellent woman as governess who had fallen little short of a mother in affection sixteen years had miss taylor been in mr woodhouses family less as a governess than a friend very fond of both daughters but particularly of emma between them it was more the intimacy of sisters even before miss taylor had ceased to hold the nominal office of governess the mildness of her temper had hardly allowed her to impose any restraint and the shadow of authority being now long passed away they had been living together as friend and friend very mutually attached and emma doing just what she liked highly esteeming miss taylors judgment but directed chiefly by her own"
print(emma_ja)

emma woodhouse handsome clever and rich with a comfortable home and happy disposition seemed to unite some of the best blessings of existence and had lived nearly twentyone years in the world with very little to distress or vex her she was the youngest of the two daughters of a most affectionate indulgent father and had in consequence of her sisters marriage been mistress of his house from a very early period her mother had died too long ago for her to have more than an indistinct remembrance of her caresses and her place had been supplied by an excellent woman as governess who had fallen little short of a mother in affection sixteen years had miss taylor been in mr woodhouses family less as a governess than a friend very fond of both daughters but particularly of emma between them it was more the intimacy of sisters even before miss taylor had ceased to hold the nominal office of governess the mildness of her temper had hardly allowed her to impose any restraint and the shadow of authority being now long passed away they had been living together as friend and friend very mutually attached and emma doing just what she liked highly esteeming miss taylors judgment but directed chiefly by her own

In [76]:
spacy_doc = nlp(emma_ja)
spacy_doc

emma woodhouse handsome clever and rich with a comfortable home and happy disposition seemed to unite some of the best blessings of existence and had lived nearly twentyone years in the world with very little to distress or vex her she was the youngest of the two daughters of a most affectionate indulgent father and had in consequence of her sisters marriage been mistress of his house from a very early period her mother had died too long ago for her to have more than an indistinct remembrance of her caresses and her place had been supplied by an excellent woman as governess who had fallen little short of a mother in affection sixteen years had miss taylor been in mr woodhouses family less as a governess than a friend very fond of both daughters but particularly of emma between them it was more the intimacy of sisters even before miss taylor had ceased to hold the nominal office of governess the mildness of her temper had hardly allowed her to impose any restraint and the shadow of authority being now long passed away they had been living together as friend and friend very mutually attached and emma doing just what she liked highly esteeming miss taylors judgment but directed chiefly by her own

In [77]:
pos_df = pd.DataFrame(columns=['token','pos_tag'])

for token in spacy_doc:
    pos_df = pd.concat([pos_df, pd.DataFrame.from_records([{'token': token.text, 'pos_tag': token.pos_}])], ignore_index= True)

In [78]:
pos_df.head(10)

         token pos_tag
0         emma   PROPN
1    woodhouse   PROPN
2     handsome     ADJ
3       clever     ADJ
4          and   CCONJ
5         rich     ADJ
6         with     ADP
7            a     DET
8  comfortable     ADJ
9         home    NOUN

most common tokens and their associated POS tags:

In [81]:
pos_df_counts = pos_df.groupby(["token","pos_tag"]).size().reset_index(name='counts').sort_values(by='counts',ascending=False)
pos_df_counts.head()

    token pos_tag  counts
88     of     ADP      14
49    had     AUX       9
54    her    PRON       9
111   the     DET       8
6     and   CCONJ       8

most common POS tags:

In [83]:
pos_df_poscounts = pos_df_counts.groupby(["pos_tag"])["token"].count().sort_values(ascending= False)
pos_df_poscounts

pos_tag
NOUN     35
VERB     19
ADJ      18
ADV      18
PRON      9
ADP       8
PROPN     6
DET       5
AUX       4
CCONJ     3
NUM       3
SCONJ     3
PART      1
Name: token, dtype: int64

In [86]:
#another method using agg 
pos_df_poscounts1 = pos_df_counts.groupby(["pos_tag"]).agg(count=("token","count")).sort_values(by="count",ascending= False)
pos_df_poscounts1

         count
pos_tag
NOUN        35
VERB        19
ADJ         18
ADV         18
PRON         9
ADP          8
PROPN        6
DET          5
AUX          4
CCONJ        3
NUM          3
SCONJ        3
PART         1

In [87]:
nouns = pos_df_counts[pos_df_counts.pos_tag == 'NOUN'][:10]
nouns

         token pos_tag  counts
48   governess    NOUN       3
46      friend    NOUN       3
130      years    NOUN       2
35        emma    NOUN       2
28   daughters    NOUN       2
103    sisters    NOUN       2
82      mother    NOUN       2
89      office    NOUN       1
78    mistress    NOUN       1
75    mildness    NOUN       1

### NER : Name entity recognition

In [88]:
google_text = "Google was founded on September 4, 1998, by computer scientists Larry Page and Sergey Brin while they were PhD students at Stanford University in California. Together they own about 14% of its publicly listed shares and control 56% of its stockholder voting power through super-voting stock. The company went public via an initial public offering (IPO) in 2004. In 2015, Google was reorganized as a wholly owned subsidiary of Alphabet Inc. Google is Alphabet's largest subsidiary and is a holding company for Alphabet's internet properties and interests. Sundar Pichai was appointed CEO of Google on October 24, 2015, replacing Larry Page, who became the CEO of Alphabet. On December 3, 2019, Pichai also became the CEO of Alphabet."
print(google_text)

Google was founded on September 4, 1998, by computer scientists Larry Page and Sergey Brin while they were PhD students at Stanford University in California. Together they own about 14% of its publicly listed shares and control 56% of its stockholder voting power through super-voting stock. The company went public via an initial public offering (IPO) in 2004. In 2015, Google was reorganized as a wholly owned subsidiary of Alphabet Inc. Google is Alphabet's largest subsidiary and is a holding company for Alphabet's internet properties and interests. Sundar Pichai was appointed CEO of Google on October 24, 2015, replacing Larry Page, who became the CEO of Alphabet. On December 3, 2019, Pichai also became the CEO of Alphabet.

In [90]:
spacy_doc = nlp(google_text)
spacy_doc.ents

(Google,
 September 4, 1998,
 Larry Page,
 Sergey Brin,
 PhD,
 Stanford University,
 California,
 about 14%,
 56%,
 IPO,
 2004,
 2015,
 Google,
 Alphabet Inc.,
 Alphabet,
 Alphabet,
 Sundar Pichai,
 Google,
 October 24, 2015,
 Larry Page,
 Alphabet,
 December 3, 2019,
 Pichai,
 Alphabet)

in scapy : word.label gives a numeric ID of the entity  || 
word.label_ gives a human-readable label

In [94]:
for word in spacy_doc.ents:
    print(word.text, word.label_)

Google ORG
September 4, 1998 DATE
Larry Page PERSON
Sergey Brin PERSON
PhD WORK_OF_ART
Stanford University ORG
California GPE
about 14% PERCENT
56% PERCENT
IPO ORG
2004 DATE
2015 DATE
Google ORG
Alphabet Inc. ORG
Alphabet ORG
Alphabet ORG
Sundar Pichai PERSON
Google ORG
October 24, 2015 DATE
Larry Page PERSON
Alphabet GPE
December 3, 2019 DATE
Pichai PERSON
Alphabet GPE

In [98]:
from spacy import displacy  
from IPython.display import HTML

html = displacy.render(spacy_doc , style="ent", jupyter=False)
display(HTML(html))

In [101]:
google_text_clean = re.sub(r'[^\w\s]', "", google_text).lower()
print(google_text_clean)

google was founded on september 4 1998 by computer scientists larry page and sergey brin while they were phd students at stanford university in california together they own about 14 of its publicly listed shares and control 56 of its stockholder voting power through supervoting stock the company went public via an initial public offering ipo in 2004 in 2015 google was reorganized as a wholly owned subsidiary of alphabet inc google is alphabets largest subsidiary and is a holding company for alphabets internet properties and interests sundar pichai was appointed ceo of google on october 24 2015 replacing larry page who became the ceo of alphabet on december 3 2019 pichai also became the ceo of alphabet

In [102]:
spacy_doc_clean = nlp(google_text_clean)

In [103]:
for word in spacy_doc_clean.ents:
    print(word.text,word.label_)

google ORG
september 4 1998 DATE
stanford university ORG
california GPE
about 14 CARDINAL
56 CARDINAL
2004 DATE
2015 DATE
alphabet inc google ORG
google ORG
october 24 2015 DATE
larry PERSON
december 3 2019 DATE

In [105]:
html = displacy.render(spacy_doc_clean,style="ent",jupyter=False)
display(HTML(html))

## Vectorization

**Bag of words**

In [111]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [112]:
data= [' Most shark attacks occur about 10 feet from the beach since that is where the people are',
        'the efficiency with which he paired the socks in the drawer was quite admirable',
        'carol drank the blood as if she were a vampire',
        'giving directions that the mountains are to the west only works when you can see them',
        'the sign said there was road work ahead so he decided to speed up',
        'the gruff old man sat in the back of the bait shop grumbling to himself as he scooped out a handful of worms']

In [113]:
countvec = CountVectorizer()

In [120]:
countvec_fit = countvec.fit_transform(data)
print(countvec_fit)
print("---"*7)
print(countvec.get_feature_names_out())

  (0, 30)	1
  (0, 45)	1
  (0, 6)	1
  (0, 32)	1
  (0, 1)	1
  (0, 0)	1
  (0, 18)	1
  (0, 19)	1
  (0, 54)	2
  (0, 9)	1
  (0, 49)	1
  (0, 53)	1
  (0, 28)	1
  (0, 64)	1
  (0, 38)	1
  (0, 4)	1
  (1, 54)	3
  (1, 17)	1
  (1, 66)	1
  (1, 65)	1
  (1, 24)	1
  (1, 37)	1
  (1, 51)	1
  (1, 27)	1
  (1, 16)	1
  :	:
  (4, 67)	1
  (4, 3)	1
  (4, 50)	1
  (4, 13)	1
  (4, 52)	1
  (4, 58)	1
  (5, 54)	3
  (5, 24)	1
  (5, 27)	1
  (5, 5)	1
  (5, 57)	1
  (5, 21)	1
  (5, 34)	1
  (5, 29)	1
  (5, 42)	1
  (5, 7)	1
  (5, 33)	2
  (5, 8)	1
  (5, 47)	1
  (5, 22)	1
  (5, 25)	1
  (5, 43)	1
  (5, 36)	1
  (5, 23)	1
  (5, 69)	1
---------------------
['10' 'about' 'admirable' 'ahead' 'are' 'as' 'attacks' 'back' 'bait'
 'beach' 'blood' 'can' 'carol' 'decided' 'directions' 'drank' 'drawer'
 'efficiency' 'feet' 'from' 'giving' 'gruff' 'grumbling' 'handful' 'he'
 'himself' 'if' 'in' 'is' 'man' 'most' 'mountains' 'occur' 'of' 'old'
 'only' 'out' 'paired' 'people' 'quite' 'road' 'said' 'sat' 'scooped'
 'see' 'shark' 'she' 'shop' 'sign' 'since' 'so' 'socks' 'speed' 'that'
 'the' 'them' 'there' 'to' 'up' 'vampire' 'was' 'were' 'west' 'when'
 'where' 'which' 'with' 'work' 'works' 'worms' 'you']

In [121]:
bag_of_words = pd.DataFrame(countvec_fit.toarray(), columns=countvec.get_feature_names_out())
print(bag_of_words)

   10  about  admirable  ahead  are  as  attacks  back  bait  beach  ...  \
0   1      1          0      0    1   0        1     0     0      1  ...
1   0      0          1      0    0   0        0     0     0      0  ...
2   0      0          0      0    0   1        0     0     0      0  ...
3   0      0          0      0    1   0        0     0     0      0  ...
4   0      0          0      1    0   0        0     0     0      0  ...
5   0      0          0      0    0   1        0     1     1      0  ...

   were  west  when  where  which  with  work  works  worms  you
0     0     0     0      1      0     0     0      0      0    0
1     0     0     0      0      1     1     0      0      0    0
2     1     0     0      0      0     0     0      0      0    0
3     0     1     1      0      0     0     0      1      0    1
4     0     0     0      0      0     0     1      0      0    0
5     0     0     0      0      0     0     0      0      1    0

[6 rows x 71 columns]

**TF IDF Vectorizer**

In [124]:
tfidf_vec = TfidfVectorizer()

In [125]:
tfidf_vec_fit = tfidf_vec.fit_transform(data)

In [128]:
tfidf_bag = pd.DataFrame(tfidf_vec_fit.toarray(),columns=tfidf_vec.get_feature_names_out())
print(tfidf_bag) #output how much a word is important in a document

         10     about  admirable     ahead       are        as   attacks  \
0  0.257061  0.257061   0.000000  0.000000  0.210794  0.000000  0.257061
1  0.000000  0.000000   0.293641  0.000000  0.000000  0.000000  0.000000
2  0.000000  0.000000   0.000000  0.000000  0.000000  0.292313  0.000000
3  0.000000  0.000000   0.000000  0.000000  0.222257  0.000000  0.000000
4  0.000000  0.000000   0.000000  0.290766  0.000000  0.000000  0.000000
5  0.000000  0.000000   0.000000  0.000000  0.000000  0.178615  0.000000

      back     bait     beach  ...      were     west     when     where  \
0  0.00000  0.00000  0.257061  ...  0.000000  0.00000  0.00000  0.257061
1  0.00000  0.00000  0.000000  ...  0.000000  0.00000  0.00000  0.000000
2  0.00000  0.00000  0.000000  ...  0.356474  0.00000  0.00000  0.000000
3  0.00000  0.00000  0.000000  ...  0.000000  0.27104  0.27104  0.000000
4  0.00000  0.00000  0.000000  ...  0.000000  0.00000  0.00000  0.000000
5  0.21782  0.21782  0.000000  ...  0.000000  0.00000  0.00000  0.000000

      which      with      work    works    worms      you
0  0.000000  0.000000  0.000000  0.00000  0.00000  0.00000
1  0.293641  0.293641  0.000000  0.00000  0.00000  0.00000
2  0.000000  0.000000  0.000000  0.00000  0.00000  0.00000
3  0.000000  0.000000  0.000000  0.27104  0.00000  0.27104
4  0.000000  0.000000  0.290766  0.00000  0.00000  0.00000
5  0.000000  0.000000  0.000000  0.00000  0.21782  0.00000

[6 rows x 71 columns]